.contenedor {
  position: absolute;
  right: 30px;
  input {
    border: rgb(0, 0, 0) solid 1px;
    margin: 20px;
    border-radius: 20px;
    height: 38px;
  }
  .inputText {
    width: 250px;
  }
  .inputSubmit {
    background-color: #1f53c5;
    color: white;
    width: 100px;
    padding: 8px;
  }
  .inputSubmit:hover {
    background-color: #143988;
    color: white;
    cursor: pointer;
  }
}
