.contenedor {
  color: white;

  .contenido {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    padding: 20px;
    padding-top: 40px;
    position: relative;
    width: 95%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.753);
    margin-top: 1%;
    margin-left: 1.2%;

    overflow-y: auto;
  }
}
