.contenedor {
  background-color: rgba(0, 0, 0, 0.767);
  color: white;
  border: rgb(255, 255, 255) solid 3px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 230px;
  margin: 10px;
  margin-top: 10px;
  box-shadow: 10px 10px 5px black;
  h4,
  span {
    display: flex;
    justify-content: center;
    align-content: flex-end;
  }
  span {
    margin-left: 68px;
    justify-content: flex-start;
    font-size: 15px;
  }
  li {
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin-left: 0.3rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
    font-size: 10px;
    border: 1px solid #ffffff;
    width: 92%;
  }
  li:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
}
