.contenido {
  margin-top: 15%;
  margin-left: 20%;
  color: white;
  display: flex;
  border: #f0f1f5 solid 1px;
  border-radius: 50px;
  flex-direction: column;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.534);
  width: 50%;
  overflow-y: auto;
  span {
    margin-bottom: 1rem;
  }
  .sidebarTexts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    h1 {
      width: inherit;
      text-align: center;
      color: #f0f1f5;
      font-size: 2rem;
    }
  }
  .img {
    width: 20vw;
    border-radius: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 900px) {
  .contenido {
    margin-top: 20%;
  }
}
@media only screen and (max-width: 550px) {
  .contenido {
    margin-top: 50%;
  }
}
@media only screen and (max-width: 360px) {
  .contenido {
    margin-top: 65%;
    width: 90%;
    margin-left: 0%;
  }
}
