.contenedor {
  background-color: rgba(0, 0, 0, 0.767);
  color: white;
  width: 400px;
  height: 640px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 1%;
  h1 {
    margin-left: 40%;
  }
}
@media only screen and (max-width: 600px) {
  .contenedor {
    display: flex;
    width: 100%;
    height: 18rem;
    margin-left: 0%;
    position: relative;
    justify-content: center;
    align-content: center;
    h1 {
      visibility: collapse;
    }
  }
  .select {
    margin-left: 2rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 3rem;
    left: 0%;
  }
  .continent {
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: absolute;
    top: 4rem;
    right: 1rem;
    height: 7rem;
  }
}
@media only screen and (max-width: 550px) {
  .contenedor {
    margin-top: 8rem;
  }
}
@media only screen and (max-width: 410px) {
  .contenedor {
    display: flex;
    flex-direction: column;
    height: 25rem;
  }
  .select {
    display: flex;
    flex-direction: row;
  }
  .continent {
    position: relative;
    top: 0%;
    right: 0%;
  }
}
