.contenedor {
  background-color: rgba(0, 0, 0, 0.767);
  color: white;
  width: 400px;
  height: 640px;
  border-radius: 20px;
  justify-content: center;
  margin-top: 1%;
  margin-left: 1%;
  h1 {
    margin-left: 40%;
  }
}
