.contenedor {
  background-color: rgba(0, 0, 0, 0.767);
  color: white;
  width: 400px;
  height: 640px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  margin-left: 1%;
  h1 {
    margin-left: 40%;
  }
}
@media only screen and (max-width: 600px) {
  .contenedor {
    display: flex;
    width: 100%;
    height: 15rem;
    margin-top: 40%;
    position: relative;
    justify-content: center;
    align-content: center;
    h1 {
      visibility: collapse;
    }
  }
  .select {
    margin-left: 8rem;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0%;
  }
  .continent {
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: absolute;
    height: 7rem;
    bottom: 8rem;
  }
}
@media only screen and (max-width: 360px) {
  .contenedor {
    margin-top: 90%;
    height: 25rem;
  }
  .select {
    margin-left: 2rem;
  }
}
