.contenedor {
  color: white;
  margin-top: 1%;
  .contenido {
    margin-top: 8rem;
    display: flex;
    justify-content: flex-start;
    position: relative;
    .cards {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 600px) {
  .contenido {
    display: flex;
    flex-direction: column;
  }
}
