.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12%;
  label {
    margin-right: 0.5rem;
  }
  select {
    width: 60%;
    height: 1.5rem;
    margin-top: 1.5%;
    border-radius: 3px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    label {
      font-size: 12px;
    }
  }
}
@media screen and (min-width: 968px) {
  .container {
    label {
      font-size: 14px;
    }
  }
}
