.contenedor {
  background-color: rgb(73, 167, 225);
  border: rgb(203, 213, 255) solid 3px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin: 10px;
  margin-top: 30px;
  box-shadow: 10px 10px 5px black;
  position: relative;
  transition: all 0.3s ease-in;
  .flag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    img {
      width: 180px;
      height: 100px;
    }
  }
  .info {
    h2,
    span {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: flex-end;
    }
    span {
      margin-left: 68px;
      justify-content: flex-start;
      font-size: 20px;
    }
  }
}

.contenedor:hover {
  transform: scale(1.1);
  cursor: pointer;
}
