.contenedor {
  color: white;
  position: relative;
  .form {
    background-color: rgba(0, 0, 0, 0.836);
    height: 600px;
    width: 65%;
    border-radius: 10px;
    text-align: center;
    margin-left: 15%;
  }
}
