.contenedor {
  color: white;
  position: relative;

  .form {
    background-color: rgba(0, 0, 0, 0.836);
    height: 500px;
    width: 55%;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 7px 13px 37px #000;
    border: rgba(255, 255, 255, 0.233) solid 3px;
    .controls {
      width: 90%;
      background: #24303c;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 16px;
      border: 1px solid #1f53c5;
      font-family: "calibri";
      font-size: 18px;
      color: white;
    }
    .botons {
      width: 50%;
      background: #1f53c5;
      border-radius: 5px;
      border: none;
      padding: 12px;
      color: white;
      margin: 16px 0;
      font-size: 16px;
    }
    .botons:hover {
      background: #143988;
      cursor: pointer;
    }
  }
}
